/**
 * @description    Styling for the main layout header
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-19 18:14
 *
 *
 *     @example
 *                 <header class="layoutHeader" role="banner">
 *
 *                 </header>
 *
 *        @type    layout
 *       @notes
 */


/**
 * @section        layoutHeader
 */
.layoutHeader {
    background: $color-header-bg;

    @include media(min-width 840px, 10) {
        display: block;
        position: fixed;
        width: 100%;
    }
}
