/**
 * @description    Styling for the primary navigation
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-19 18:27
 *
 *
 *     @example
 *                 <nav class="navPrimary">
 *
 *                 </nav>
 *
 *        @type    navigation
 *       @notes
 *
 */

/**
 * @section        navPrimary
 */
.navPrimary {

    @include media(min-width 840px) {
        @include span-columns(7 of 10);

        text-align: right;
    }

    a {
        border-right: 1px solid $color-border;
        display: inline-block;
        font-weight: normal;
        margin: 1em 0;
        padding: 0 1em;

        &:last-child {
            border: none;
            padding-right: 0;
        }
    }
}
