@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Exo:400,700");
/**
 * @projectDescription    Exmoor Logs
 *               @file    styles.css
 *             @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *            @version    0.1
 *               @date    2013-11-19 15:17
 *              @notes    NB. This is the master Sass file which imports all the partials.
 *                        No CSS should be written in this file.
 */
/* Please be aware that styles.css is a generated file and has been built using SCSS */
/**
 * @section        Bourbon
 *   @notes        http://bourbon.io/
 *                 $ gem install bourbon
 */
/**
 * @section        Neat Grid
 *   @notes        https://github.com/thoughtbot/neat#requirements
 *                 $ gem install neat
 */
/**
 * @description    Neat Grid Settings
 *
 *      @author    https://github.com/thoughtbot/neat#requirements
 *     @version    0.1
 *        @date    2013-11-19 16:31
 *
 *     @example
 *
 *        @type    settings
 *       @notes    The breakpoint variables use colour coding. The .globalHeader class has debgging which
 *                 can be enabled to view the matching colours in the background of the .globalHeader in
 *                 the front end.
 *      @ignore
 *
 */
/**
 * @section        settings
 *   @notes        default size 0px - 576px
 */
/* line 2, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * @section        Bitters
 *   @notes        http://bitters.bourbon.io/
 *                 $ gem install bitters
 */
/* line 1, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/extends/_button.scss */
button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #477dca), color-stop(100%, #2760b2));
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  font-size: 1em;
}
/* line 79, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bourbon/addons/_button.scss */
button:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #628cc8;
  cursor: pointer;
  background-color: #3c71bb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c71bb), color-stop(100%, #255aa5));
  background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
  background-image: linear-gradient(#3c71bb, #255aa5);
}
/* line 95, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bourbon/addons/_button.scss */
button:active:not(:disabled),
input[type="submit"]:active:not(:disabled) {
  border: 1px solid #2459a6;
  box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397, 0 1px 1px 0 #eeeeee;
}
/* line 38, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bourbon/addons/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* line 1, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
}

/* line 9, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  margin: 0;
  line-height: 1.25em;
}

/* line 15, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 19, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 23, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 27, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 31, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 35, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 39, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 43, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
/* line 48, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 52, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 58, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

/* line 66, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
img {
  margin: 0;
  max-width: 100%;
}

/* line 71, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

/* line 76, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
address {
  display: block;
  margin: 0 0 0.75em;
}

/* line 81, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
hgroup {
  margin-bottom: 0.75em;
}

/* line 85, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
del {
  color: #595959;
}

/* line 89, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 96, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 100, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_typography.scss */
cite:before {
  content: '\2014 \00A0';
}

/* line 10, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 19, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

/* line 25, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 29, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
label.required:after {
  content: "*";
}
/* line 33, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
label abbr {
  display: none;
}

/* line 39, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 52, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover {
  border-color: #c4c4c4;
}
/* line 56, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 63, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 67, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 72, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
select {
  width: auto;
  margin-bottom: 1.5em;
}

/* line 78, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_forms.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 1, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_tables.scss */
table {
  margin: 0.75em 0;
  width: 100%;
}

/* line 6, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 13, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

/* line 18, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_tables.scss */
tr, td, th {
  vertical-align: middle;
}

/* line 1, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 19, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_lists.scss */
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em;
}
/* line 23, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_lists.scss */
dl dd {
  margin: 0;
}

/* Success, error & notice boxes for messages and errors. */
/* line 2, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_flashes.scss */
.error, #flash_failure, .notice, #flash_notice, .success, #flash_success {
  margin-bottom: 0.75em;
  padding: 0.75em;
  font-weight: bold;
}

/* line 8, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_flashes.scss */
.error, #flash_failure {
  background: #fbe3e4;
  color: #96151b;
}
/* line 13, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_flashes.scss */
.error a, #flash_failure a {
  color: #6a0f13;
}
/* line 16, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_flashes.scss */
.error a:hover, #flash_failure a:hover {
  color: #110203;
}

/* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_flashes.scss */
.notice, #flash_notice {
  background: #fff6bf;
  color: #8c7800;
}
/* line 27, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_flashes.scss */
.notice a, #flash_notice a {
  color: #594c00;
}
/* line 30, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_flashes.scss */
.notice a:hover, #flash_notice a:hover {
  color: black;
}

/* line 37, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_flashes.scss */
.success, #flash_success {
  background: #e6efc2;
  color: #56651a;
}
/* line 42, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_flashes.scss */
.success a, #flash_success a {
  color: #333c10;
}
/* line 45, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bitters/_flashes.scss */
.success a:hover, #flash_success a:hover {
  color: black;
}

/**
 * @section        Settings
 */
/**
 * @section        Variables
 */
/**
 * @description    Colour palette
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-20 09:55
 *
 *
 *     @example
 *
 *
 *        @type    variables
 *       @notes
 *      @ignore
 *
 */
/**
* @section        Base colours
*/
/**
* @section        Colours
*/
/**
* @section        Colour complementary
*/
/**
* @section        Colour
*/
/**
 * @section        Mixins
 */
/**
 * @description    font-sizing mixin
 *
 *      @author    http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
 *     @version    0.1
 *        @date    2013-11-20 16:10
 *
 *
 *     @example    @include font-size(1.6);
 *
 *
 *        @type    mixin
 *       @notes    returns rem and fall-back px values
 *      @ignore
 */
/**
 * @section        font-size
 */
/**
 * @description    font stack mixins
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-20 16:11
 *
 *
 *     @example
 *
 *        @type    mixin
 *       @notes
 *      @ignore
 */
/**
 *     @section   default-font-stack
 */
/**
 *     @section   headline-font-stack
 */
/**
 *     @section   logo-font-stack
 */
/**
 *     @section   contrast-font-stack
 */
/**
 * @section        Global
 */
/**
 * @section        Elements
 */
/**
 * @description    Styling for the html element
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-23 09:09
 *
 *
 *     @example
 *                 <html></html>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        html
 */
/* line 21, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_html.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  font-size: 62.5%;
  overflow-y: scroll;
}

/**
 * @description    Creates the default styling for the body element
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-20 17:04
 *
 *
 *     @example
 *                 <body>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        body
 */
/* line 21, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_body.scss */
body {
  background: white;
  color: #1a1a1a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
}

/**
 * @description    Creates the default styling for links
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-20 09:53
 *
 *
 *     @example
 *                 <a href="#"></a>
 *
 *
 *        @type    element
 *       @notes    ensure pseudo classes are ordered:
 *                      :link
 *                      :visited
 *                      :hover
 *                      :focus
 *                      :active
 */
/**
 * @section        a
 */
/* line 26, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_a.scss */
a {
  color: #236952;
  font-weight: bold;
  text-decoration: none;
}
/* line 31, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_a.scss */
a:hover {
  text-decoration: underline;
}
/* line 35, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_a.scss */
a:focus {
  outline: thin dotted;
}
/* line 40, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_a.scss */
a:active, a:hover {
  outline: 0;
}
/* line 44, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_a.scss */
a img {
  border: none;
}

/**
 * @description    Heading styles
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-20 16:08
 *
 *
 *     @example
 *                 <h1></h1>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        h1
 */
/**
 * @section        h1,h2,h3,h4,h5,h6
 */
/* line 33, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_hx.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/**
 * @section        h2
 */
/* line 40, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_hx.scss */
h2 {
  font-size: 26px;
  font-size: 2.6rem;
}

/**
 * @section        h3
 */
/* line 47, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_hx.scss */
h3 {
  font-size: 22px;
  font-size: 2.2rem;
}

/**
 * @section        h4
 */
/* line 54, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_hx.scss */
h4 {
  font-size: 20px;
  font-size: 2rem;
}

/**
 * @section        h5
 */
/* line 61, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_hx.scss */
h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

/**
 * @section        h6
 */
/* line 68, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_hx.scss */
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}

/**
 * @description    Creates the default styling for images
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-22 09:17
 *
 *
 *     @example
 *                 <img src="" alt="" />
 *
 *
 *        @type    element
 *       @notes    1. Removes border when inside `a` element in IE 8/9.
 *                 2. Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/**
 * @section        img
 */
/* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/elements/_img.scss */
img {
  border: 0;
  vertical-align: middle;
}

/**
 *     @section    Elements
 * @sub-section    Table
 */
/**
 *     @section    Elements
 * @sub-section    Form
 */
/**
 * @section        Layout
 */
/**
 * @description    Styling for the main layout wrapper
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-19 16:34
 *
 *
 *     @example
 *                 <div class="layoutWrapper">
 *
 *                 </div>
 *
 *
 *        @type    layout
 *       @notes
 */
/**
 * @section        layoutWrapper
 */
/* line 23, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/default-layout/_layout-wrapper.scss */
.layoutWrapper {
  padding: 2em;
}
@media screen and (min-width: 840px) {
  /* line 23, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/default-layout/_layout-wrapper.scss */
  .layoutWrapper {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 18, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bourbon/addons/_clearfix.scss */
  .layoutWrapper:before, .layoutWrapper:after {
    content: " ";
    display: table;
  }
  /* line 23, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/bourbon/addons/_clearfix.scss */
  .layoutWrapper:after {
    clear: both;
  }
}
/* line 31, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/default-layout/_layout-wrapper.scss */
.contentSection .layoutWrapper, .layoutFooter .layoutWrapper {
  background: rgba(255, 255, 255, 0.1);
}

/**
 * @description    Styling for the main layout header
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-19 18:14
 *
 *
 *     @example
 *                 <header class="layoutHeader" role="banner">
 *
 *                 </header>
 *
 *        @type    layout
 *       @notes
 */
/**
 * @section        layoutHeader
 */
/* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/default-layout/_layout-header.scss */
.layoutHeader {
  background: white;
}
@media screen and (min-width: 840px) {
  /* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/default-layout/_layout-header.scss */
  .layoutHeader {
    display: block;
    position: fixed;
    width: 100%;
  }
}

/**
 * @description    Styling for the main layout content area
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-22 09:24
 *
 *
 *     @example
 *                 <div class="layoutMain">
 *
 *                 </div>
 *
 *        @type    layout
 *       @notes
 */
/**
 * @section        layoutMain
 */
@media screen and (min-width: 840px) {
  /* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/default-layout/_layout-main.scss */
  .layoutMain {
    padding-top: 150px;
  }
}
/* line 28, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/default-layout/_layout-main.scss */
.layoutMain img {
  max-width: 100%;
}

/**
 * @description    Stying for the main layout footer
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-20 16:02
 *
 *
 *     @example
 *                 <footer class="layoutFooter" role="contentinfo">
 *
 *                 </footer>
 *
 *        @type    layout
 *       @notes
 */
/**
 * @section        layoutFooter
 */
/* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/default-layout/_layout-footer.scss */
.layoutFooter {
  background: #308f70;
}
@media screen and (min-width: 840px) {
  /* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/default-layout/_layout-footer.scss */
  .layoutFooter {
    display: block;
    float: left;
    margin-right: 2.5641%;
    width: 100%;
  }
  /* line 33, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/neat/grid/_span-columns.scss */
  .layoutFooter:last-child {
    margin-right: 0;
  }
}

/**
 * @description    Styling for the .contentSection class
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-22 16:36
 *
 *
 *     @example
 *                 <section class="contentSection">
 *
 *                 </section>
 *
 *        @type    layout
 *       @notes
 */
/**
 * @section        contentSection
 */
/**
 * @section        Navigation
 */
/**
 * @description    Styling for the primary navigation
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-19 18:27
 *
 *
 *     @example
 *                 <nav class="navPrimary">
 *
 *                 </nav>
 *
 *        @type    navigation
 *       @notes
 *
 */
/**
 * @section        navPrimary
 */
@media screen and (min-width: 840px) {
  /* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/navigation/_nav-primary.scss */
  .navPrimary {
    display: block;
    float: left;
    margin-right: 2.5641%;
    width: 69.23077%;
    text-align: right;
  }
  /* line 33, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/neat/grid/_span-columns.scss */
  .navPrimary:last-child {
    margin-right: 0;
  }
}
/* line 30, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/navigation/_nav-primary.scss */
.navPrimary a {
  border-right: 1px solid #d4d4d4;
  display: inline-block;
  font-weight: normal;
  margin: 1em 0;
  padding: 0 1em;
}
/* line 37, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/navigation/_nav-primary.scss */
.navPrimary a:last-child {
  border: none;
  padding-right: 0;
}

/**
 * @section        Modules
 */
/**
 * @description    styling for the brandLogo class
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-19 18:20
 *
 *
 *     @example
 *                 <div class="brandLogo"><a class="brandLogo" href="">Exmoor Logs</a></div>
 *
 *        @type    module
 *       @notes
 */
/**
 * @section        brandLogo
 */
/* line 19, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/modules/_mod-brand-logo.scss */
.brandLogo {
  font-family: "Exo", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
@media screen and (min-width: 840px) {
  /* line 19, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/modules/_mod-brand-logo.scss */
  .brandLogo {
    display: block;
    float: left;
    margin-right: 2.5641%;
    width: 28.20513%;
  }
  /* line 33, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/neat/grid/_span-columns.scss */
  .brandLogo:last-child {
    margin-right: 0;
  }
}
/* line 26, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/modules/_mod-brand-logo.scss */
.brandLogo a {
  font-size: 36px;
  font-size: 3.6rem;
  text-decoration: none;
}

/**
 * @description    styling for the copyright class
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-20 16:38
 *
 *
 *     @example
 *                 <div class="copyright"><p>&copy; 2013 Exmoor Logs. All rights reserved.</p></div>
 *
 *        @type    module
 *       @notes
 */
/**
 * @section        copyright
 */
/**
 * @description    Styling for the .contentSection .aboutUs class
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-22 16:59
 *
 *
 *     @example
 *                 <section class="contentSection aboutUs">
 *
 *                 </section>
 *
 *        @type    layout
 *       @notes    .aboutUs extends .contentSection
 */
/**
 * @section        .aboutUs
 */
/* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/modules/_mod-content-section-about-us.scss */
.aboutUs {
  background: #40bf95;
}

/**
 * @description    Styling for the .contentSection .services class
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-22 16:59
 *
 *
 *     @example
 *                 <section class="contentSection services">
 *
 *                 </section>
 *
 *        @type    layout
 *       @notes    .services extends .contentSection
 */
/**
 * @section        .services
 */
/* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/modules/_mod-content-section-services.scss */
.services {
  background: #3db58e;
}

/**
 * @description    Styling for the .contentSection .delivery class
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-22 16:59
 *
 *
 *     @example
 *                 <section class="contentSection delivery">
 *
 *                 </section>
 *
 *        @type    layout
 *       @notes    .delivery extends .contentSection
 */
/**
 * @section        .delivery
 */
/* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/modules/_mod-content-section-delivery.scss */
.delivery {
  background: #3aac86;
}

/**
 * @description    Styling for the .contentSection .prices class
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-22 16:59
 *
 *
 *     @example
 *                 <section class="contentSection prices">
 *
 *                 </section>
 *
 *        @type    layout
 *       @notes    .prices extends .contentSection
 */
/**
 * @section        .prices
 */
/* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/modules/_mod-content-section-prices.scss */
.prices {
  background: #36a27f;
}

/**
 * @description    Styling for the .contentSection .contact class
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-22 16:59
 *
 *
 *     @example
 *                 <section class="contentSection contact">
 *
 *                 </section>
 *
 *        @type    layout
 *       @notes    .contact extends .contentSection
 */
/**
 * @section        .contact
 */
/* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/modules/_mod-content-section-contact.scss */
.contact {
  background: #339977;
}

/**
 * @description    Styling for the .contactPanel class
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-24 12:58
 *
 *
 *     @example
 *                 <section class="contentSection contact">
 *
 *                 </section>
 *
 *        @type    layout
 *       @notes
 */
/**
 * @section        .contactPanel
 */
@media screen and (min-width: 840px) {
  /* line 22, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/modules/_mod-content-section-contact-panel.scss */
  .contactPanel {
    display: block;
    float: left;
    margin-right: 2.5641%;
    width: 48.71795%;
  }
  /* line 33, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/neat/grid/_span-columns.scss */
  .contactPanel:last-child {
    margin-right: 0;
  }
}
/* line 28, /Users/kristina/Sites/ExmoorLogs/development/www.exmoorlogs.co.uk/css-src/partials/modules/_mod-content-section-contact-panel.scss */
.contactPanel a {
  color: white;
}

/**
 * @section        Media
 */
/**
 * @section        Development
 */
