<section class="contact" id="contact">
	<h2>Contact</h2>

	<p><strong>{% include mobile.html %}</strong> | Twitter: {% include twitter.html %}</p>

	<form>
		<p><label for="name">Name:</label>
			<input type="text" id="name" /></p>

		<p><label for="email">Email:</label>
			<input type="email" id="email" /></p>

		<p><label for="telephone">Telephone:</label>
			<input type="number" id="telephone" /></p>

		<p><label for="message">Message:</label>
			<textarea id="message"></textarea></p>

		<p><input class="button" type="submit" value="Submit" /></p>
	</form>
</section>
