/**
 * @description    Colour palette
 *
 *      @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-11-20 09:55
 *
 *
 *     @example
 *
 *
 *        @type    variables
 *       @notes
 *      @ignore
 *
 */

/**
* @section        Base colours
*/
$color-black:             #000;
$color-white:             #fff;

/**
* @section        Colours
*/
$color-brand-red   :             #c41200; // Red
$color-brand-gray  :             #939598; // Gray
$color-brand-green :             #308f70; // Green

/**
* @section        Colour complementary
*/
$color-brand-complementary1:    #dfcdb4;
$color-brand-complementary2:    #fbeed3;

/**
* @section        Colour
*/
$color-copy                :    lighten($color-black, 10%); // output = #585858
$color-link                :    darken($color-brand-green,10%);
$color-page-bg             :    $color-white;
$color-header-bg           :    $color-white;
$color-footer-bg           :    $color-brand-green;
$color-nav-primary         :    lighten($color-black, 44.5%); // output = #717171
$color-nav-primary-active  :    darken($color-white, 17.25%); // output = #d3d3d3
$color-content-section     :    $color-brand-green;

$color-button              :    $color-brand-red;
$color-border              :    lighten($color-black, 83%); // output = #d4d4d4
$color-mark                :    $color-brand-complementary2;
$color-selection           :    $color-brand-complementary2;
